SHAREHUB_ADMIN_PASS=change-me
SHAREHUB_ADMIN_USER=admin
SHAREHUB_ADDR=:8080
SHAREHUB_DATA_DIR=./data
SHAREHUB_JWT_SECRET=change-me-in-prod
# SHAREHUB_PUBLIC_BASE_URL=http://192.168.1.10:8080
# SHAREHUB_MAX_UPLOAD_MB=2048
